* {
	box-sizing: border-box;
}

body {
	background: #eee;
	-webkit-text-size-adjust: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 18px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin-top: 0;
	box-sizing: border-box;
	font-weight: 400;
}

input,
button {
	border: 1px solid #CCC;
	padding: 0.25em;
	appearance: none;
	background: none;
	font-weight: inherit;
	font-size: inherit;
}

button {
	cursor: pointer;
	padding: 0.25em 0.75em;
}
